---
import PageHeader from "@/components/core/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("contacto", "index");
const { contact_form_action } = config.params;
/* console.log(entry.data.video) */
---
<!-- images/nanosafe/VideoContactoV1.mp4 -->
<Base
  entry_keys={["contacto", "index"]}
>
<div class="relative w-full h-screen">
  <video autoplay muted loop class="absolute inset-0 w-full h-full object-cover md:h-[100vh] sm:h-[50vh]">
      <source src={entry.data.video} type="video/mp4" />
      Tu navegador no soporta videos en HTML5.
  </video>
  <div class="relative z-10 text-white p-4 md:p-2 sm:p-6">
      <!-- Contenido encima del video -->
      <section class=" pb-6">
        <div class="container font-bold text-center text-shadow-[0px_5px_15px] shadow-accent/8"><PageHeader page_data={entry.data} /></div>
      </section>
        <div class="container">
          <div class="row">

            <div class="md:col-12 md:order-1 grid place-content-center">
              <form
                class="lg:max-w-[484px]"
                action="" method="POST"
                method="POST"
              >
                <div class="form-group mb-5">
                  <label class="form-label text-white font-bold text-center text-shadow-[0px_5px_15px] shadow-accent/8" for="name">Nombre Completo</label>
                  <input
                    class="form-control bg-white font-bold"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Tú nombre completo"
                    required
                  />
                </div>
                <div class="form-group mb-5">
                  <label class="text-white form-label font-bold text-center text-shadow-[0px_5px_15px] shadow-accent/8" for="eamil">Correo Electronico</label>
                  <input
                    class="form-control bg-white font-bold"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Tú Correo"
                    required
                  />
                </div>
                <div class="form-group mb-5">
                  <label class="text-white form-label font-bold text-center text-shadow-[0px_5px_15px] shadow-accent/8" for="reason">Razón/Propósito</label>
                  <select name="reason" id="reason" class="bg-white text-black form-select" required>
                    <option value="" class="text-black">Seleccione motivo/propósito</option>
                    <option value="quiero-producir-gasa">Quiero producir gasa.</option>
                    <option value="quiero-una-muestra">Quiero una muestra.</option>
                    <option value="me-gustaria-tener-mas">Me gustaria tener mas información.</option>
                    <option value="otros">otros.</option>

                  </select>
                </div>
                <div class="form-group mb-5">
                  <label class="text-white form-label font-bold text-center text-shadow-[0px_5px_15px] shadow-accent/8" for="message">Mensaje aquí</label>
                  <textarea
                    name="message"
                    class="bg-white form-control h-[150px]"
                    id="message"
                    cols="30"
                    rows="10"></textarea>
                </div>
                <div class="flex justify-center">
                <button type="submit" class="bg-cyan-500 btn btn-lg btn-dark btn-block hover:bg-cyan-700 " name="_next" value="https://www.nanosafe.cl/gracias">Enviar Mensaje</button>
                </div>
              </form>
            </div>
          </div>
        </div>
  </div>
</div>




</Base>
