---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import HomepageFeature from "@/components/react/HomepageFeature";
const { features } = Astro.props;
const { title, description, feature_list } = features;
---

<section class="section key-feature relative">
  <div class="container">
    <div class="row justify-between text-center lg:text-start ">
      <div class="">
        <h1 class="text-center"  set:html={markdownify(title)} />
        <a href="/Informe_de_Laboratorio.pdf" download="Informe_de_Laboratorio.pdf">
          <img class="h-20 w-20" src="/images/nanosafe/IMAGEPDF.png" alt="Descripción de la imagen">

        </a>

        <a href="/Informe_de_Laboratorio.pdf" download="Informe_de_Laboratorio.pdf">
          Descargar PDF
        </a>
      </div>
    </div>
   <!--  <div class="mt-6 lg:col-5 lg:mt-0 text-text-secondary">
      <p set:html={markdownify(description)} />
    </div> -->
    <HomepageFeature feature_list={feature_list} client:load />
  </div>
</section>
