---
import type { PageSection } from "@/content/page.types";
import { Test } from "@/components/react/Test";

/* console.log("image_position_classes[2]",texto_modificado) */
---

<section >
  <Test />
</section>
